<mat-toolbar color="primary">

  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Timecard</span>

  <span class="example-spacer"></span>

  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openAddXxxDialog()">New XXX</button>
    <button mat-menu-item (click)="loadWams()">Load WAMs</button>
  </mat-menu>

</mat-toolbar>
