<div class="example-container mat-elevation-z8">

  <mat-card>

    <mat-card-header>
      <mat-card-title>
        <h1>Accruals</h1>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>Week ending {{weekEndDate | date:'shortDate'}}</h2>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <strong>Vacation</strong> {{accrual.vacation}}
      <strong>Sick</strong>     {{accrual.sick}}
      <strong>Personal</strong> {{accrual.personal}}
    </mat-card-content>

  </mat-card>
</div>
